.home-story-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  .title {
    font-size: 3rem;
    width: 25%;
  }

  .text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .cta-button {
      text-decoration: none;
      color: black;
      border: 3px solid #54bab9;
      background-color: #54bab9;
      border-radius: 25px;
      padding: 10px;
      width: 150px;
      text-align: center;
    }

    .cta-button:hover {
      background-color: #5ac6c4;
      border-color: #5ac6c4;
    }
  }
}
