@import "/src/common/colors.scss";

.home-about-container {
  display: flex;
  column-gap: 60px;
  align-items: flex-start;
  background-color: $soft;
  border-radius: 20px;

  .text-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 40px;
    border-radius: 20px;
    row-gap: 10px;

    .text-inner-container {
      background-color: $soft;
      width: 100%;
      padding: 50px 70px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 2rem;
      }

      p {
        margin-bottom: 30px;
      }

      .read-more-button {
        background-color: transparent;
        border: none;
        margin-bottom: 30px;
        font-weight: bold;
        cursor: pointer;
      }
      .read-more-button:hover {
        color: $dark;
      }
      .cta-button {
        text-decoration: none;
        color: $alien;
        border: 3px solid $dark;
        background-color: $dark;
        border-radius: 25px;
        padding: 10px;
        width: 300px;
        text-align: center;
      }

      .cta-button:hover {
        background-color: $medium;
        border-color: $medium;
      }
    }
  }

  .profile-picture {
    width: 320px;
    object-fit: contain;
    object-position: top;
    border-radius: 20px;
    margin-top: 100px;
  }
}
