@import "/src/common/colors.scss";
@import "/src/common/media.scss";

.home-contact-container {
  display: flex;
  align-items: flex-start;
  background-color: $soft;
  border-radius: 20px;
  width: 100%;

  @include small-screen {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    row-gap: 20px;
    padding: 50px 0;
    flex-direction: column-reverse;
    border-radius: 0;
    background-color: white;
  }
  .text-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    row-gap: 10px;
    @include small-screen {
      width: 90%;
      box-sizing: border-box;
      background-color: white;
      padding: 0;
    }
    .text-inner-container {
      background-color: white;
      width: 70%;
      margin: 0 auto;
      padding: 50px 100px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      text-align: justify;
      .title {
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 2rem;
      }
      p,
      h5 {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
        @include small-screen {
          width: 100%;
        }
      }
      h5 {
        margin-top: 8vh;
      }
      @include small-screen {
        text-align: center;
        align-items: center;
        padding: 0;
        box-shadow: none;
        width: 100%;

        p {
          width: 100%;
        }
      }

      .office {
        margin: 50px auto 0 auto;
        width: 600px;

        @include small-screen {
          width: 100%;
        }
      }

      .contact-container {
        display: flex;
        column-gap: 20px;
        width: 600px;
        margin: 0 auto;
        @include small-screen {
          flex-direction: column;
          align-items: center;
          row-gap: 2vh;
          width: 100%;
        }
        .contact {
          display: flex;
          align-items: center;
          column-gap: 10px;
          a {
            color: black;
            cursor: pointer;
            text-decoration: none;
          }
          a:hover {
            color: $dark;
          }
        }
      }
    }
    .form-container {
      background-color: white;
      width: 70%;
      margin: 0 auto;
      padding: 50px 100px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      text-align: justify;

      @include small-screen {
        text-align: center;
        align-items: center;
        padding: 0;
        box-shadow: none;
        width: 100%;

        p {
          width: 100%;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 40px;
        box-sizing: border-box;
        width: 600px;
        margin: 0 auto;
        @include small-screen {
          max-width: 100%;
        }
        .input-container,
        .message-container {
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            font-weight: normal;
          }

          input {
            font-family: "Poppins", sans-serif;
          }

          .error-field {
            color: $warning;
            font-size: 0.8rem;
          }
        }

        input,
        textarea {
          width: 70%;
          height: 30px;
          border-radius: 5px;
          padding: 10px;
          border: 1px solid black;
          @include small-screen {
            width: 100%;
            max-width: 300px;
            padding: 10px;
            font-size: 1rem;
            margin: 0 auto;
          }
        }

        textarea {
          height: 80px;
        }

        button {
          background-color: $dark;
          width: 150px;
          height: 50px;
          border: none;
          padding: 10px;
          border-radius: 25px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: bold;
          color: $alien;
          text-align: center;

          @include small-screen {
            margin: 0 auto;
          }
        }
        button:hover {
          background-color: $medium;
        }
      }
    }
  }

  .profile-picture {
    @include large-screen {
      display: none;
    }

    @include medium-screen {
      display: none;
    }

    @include small-screen {
      width: 100%;
      height: 30vh;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      border-radius: 0;
    }
  }
}
