@import "/src/common/colors.scss";
@import "/src/common/media.scss";

.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  .cta-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: $alien;
    top: 0;
    align-items: center;
    padding: 10px;
    height: 40px;
    @include medium-screen {
      justify-content: space-between;
    }
    @include small-screen {
      display: none;
    }
    p {
      @include medium-screen {
        display: none;
      }
    }
    .contact-container {
      display: flex;
      column-gap: 20px;

      .contact {
        display: flex;
        align-items: center;
        column-gap: 10px;

        a {
          color: $alien;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    .cta-button {
      text-decoration: none;
      color: $alien;
      border: 3px solid $dark;
      background-color: $dark;
      border-radius: 25px;
      padding: 3px;
      width: 200px;
      text-align: center;
    }

    .cta-button:hover {
      background-color: $medium;
      border-color: $medium;
    }

    .close-icon {
      cursor: pointer;
    }
    .close-icon:hover {
      color: $warning;
    }
  }

  .logo-container {
    text-align: center;
    line-height: 10px;
    margin-top: 25px;

    h5,
    h2 {
      line-height: 20px;
    }

    h5 {
      @include small-screen {
        font-size: 0.9rem;
        font-weight: normal;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 4vh;
      }
    }
    @include small-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vh;
    }
    .logo {
      color: black;
      text-decoration: none;
      font-size: 1.2rem;
      display: inline-block;
    }
    .menu {
      display: none;
      @include small-screen {
        display: inline;
        font-size: 2rem;
      }
    }
  }

  .header-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    @include small-screen {
      display: none;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
      font-size: 1rem;
      max-width: 100%;

      .nav-link {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-weight: medium;
      }

      .nav-link:hover {
        color: $medium;
      }

      .active-nav-link {
        text-decoration: none;
        color: $dark;
      }

      .contact-link {
        text-decoration: none;
        color: black;
        border: 3px solid $dark;
        border-radius: 25px;
        padding: 10px;
      }
      .contact-link:hover {
        background-color: $dark;
        color: $alien;
      }
    }
  }
}
