@import "/src/common/colors.scss";
@import "/src/common/media.scss";

.home-about-container {
  display: flex;
  align-items: flex-start;
  background-color: $soft;
  border-radius: 20px;
  width: 100%;

  @include medium-screen {
    border-radius: 0;
  }
  @include small-screen {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    row-gap: 20px;
    padding: 50px 0;
    flex-direction: column-reverse;
    border-radius: 0;
    background-color: white;
  }

  .text-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    row-gap: 10px;
    @include small-screen {
      width: 90%;
      box-sizing: border-box;
      background-color: white;
      padding: 0;
    }
    .text-inner-container {
      background-color: white;
      width: 70%;
      margin: 0 auto;
      padding: 50px 100px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      text-align: justify;
      .title {
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 2rem;
      }
      p {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      @include small-screen {
        text-align: center;
        align-items: center;
        padding: 0;
        box-shadow: none;
        width: 100%;

        p {
          width: 100%;
        }
      }
      .read-more-button {
        background-color: transparent;
        border: none;
        margin-bottom: 30px;
        font-weight: bold;
        cursor: pointer;
      }
      .read-more-button:hover {
        color: $dark;
      }
      .cta-button {
        text-decoration: none;
        color: $alien;
        border: 3px solid $dark;
        background-color: $dark;
        border-radius: 25px;
        padding: 10px;
        width: 300px;
        text-align: center;
      }

      .cta-button:hover {
        background-color: $medium;
        border-color: $medium;
      }
    }
  }

  img {
    @include large-screen {
      display: none;
    }

    @include medium-screen {
      display: none;
    }
    @include small-screen {
      width: 100%;
      height: 30vh;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      border-radius: 0;
    }
  }
}
