//picked by emel
$soft: #e0f4ff;
$medium: #87c4ff;
$dark: #39a7ff;
$alien: #ffeed9;
$warning: #ff6666;

// picked by yigit
// $soft: #f1f0e8;
// $medium: #adc4ce;
// $dark: #96b6c5;
// $alien: #f1f0e8;
